body {
	background-color: antiquewhite;
}

p{
	color:black;
	font-family: 'Montserrat Alternates', sans-serif;
}

h1{
	color:blueviolet;
	font-family: 'Dosis', sans-serif;
	;
}

ul{
	color:black;
	font-family: 'Montserrat Alternates', sans-serif;
}