body {
	background-color: #FFE59D;
}

titulo {
		color: #7D1E6A;
		font-family: 'Dosis', sans-serif;	
		font-size: 24pt;
}

p, a{
	color: black;
	font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
	color: #7D1E6A;
	font-family: 'Dosis', sans-serif;
	;
}

ul {
	color: #7D1E6A;
	font-family: 'Montserrat Alternates', sans-serif;
}

table{
	font-family: 'Montserrat Alternates', sans-serif;
}